Options +FollowSymlinks
RewriteEngine on

RewriteRule ^install$ install.php [NC]

RewriteRule ^home$ index.php [NC]
RewriteRule ^userManagement$ userManagement.php [NC]
RewriteRule ^currentScans$ report.php [NC]
RewriteRule ^systemHistory$ history.php [NC]
RewriteRule ^changePassword$ changePassword.php [NC]
RewriteRule ^submitScan$ scan.php [NC]
RewriteRule ^entityHistory([0-9]*)/? changes.php?entityID=$1 [QSA]
RewriteRule ^groupManagement$ groupManagement.php [NC]
RewriteRule ^entitySearch$ entitySearch.php [NC]
RewriteRule ^scrub$ scrubDatabase.php [NC]

RewriteRule ^processUsers$ executeProcess.php?include=processUsers [NC]
RewriteRule ^processReportFocus$ executeProcess.php?include=processReportFocus [NC]
RewriteRule ^processSearch$ executeProcess.php?include=processSearch [NC]
RewriteRule ^processGroup$ executeProcess.php?include=processGroup [NC]
RewriteRule ^processHistory$ executeProcess.php?include=processHistory [NC]
RewriteRule ^processReport$ executeProcess.php?include=processReport [NC]
RewriteRule ^processScan$ executeProcess.php?include=processScan [NC]
RewriteRule ^processFocus$ executeProcess.php?include=processFocus [NC]
RewriteRule ^processScrub$ executeProcess.php?include=processScrub [NC]
RewriteRule ^processUsers$ executeProcess.php?include=processUsers [NC]
